<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>The Mealz</h1>
    <p class="lead">Kick-start your next web app with Angular Fullstack</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Mealz options:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="mealOption in mealOptions">
        <li><a href="#" tooltip="{{mealOption.info}}" ng-click="onItemClicked(mealOption)">{{mealOption.name}} ({{(mealOption.active ? 'active' : 'inactive') + ', ' + (mealOption.children && mealOption.children.length > 0 ? 'children meal options: ' + pluck(getItemsByProperty(mealOptions, mealOption.children, '_id'), 'name').join(', ') : 'no children meal options')}})<button type="button" class="close" ng-click="deleteMealOption(mealOption)">&times;</button></a></li>
      </ul>
    </div>
  </div>

  <form class="mealOption-form">
    <label>Add or edit some more meal options:</label>
    <p class="form-group">
      <label for="target_selector">Select meal option to edit:</label>
      <select id="target_selector" ng-model="targetMealOption" ng-options="mealOption.name for mealOption in mealOptions track by mealOption._id" ng-model="selected" ng-change="onTargetMealOptionChanged()">
        <option value="">Create a new option...</option>
      </select>
    </p>
    <p class="form-group">
      <input type="text" class="form-control" placeholder="Add a title here" ng-model="newMealOptionTitle">
    </p>
    <p class="form-group">
      <textarea class="form-control" rows="3" placeholder="Add some information here" ng-model="newMealOptionInfo"></textarea>
    </p>
    <p class="form-group">
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="newMealOptionActive"> Is Active
        </label>
      </div>
    </p>
    <p class="form-group">
      <label for="children_selector">Select children meal options:</label>
      <select id="children_selector" ng-model="newMealOptionChildrenIds" ng-options="mealOption.name for mealOption in mealOptions track by mealOption._id" multiple></select>
    </p>
    <button type="submit" class="btn btn-primary" ng-click="addOrEditMealOption()">{{ targetMealOption ? 'Edit Meal Option' : 'Add New' }}</button>
  </form>
</div>

<footer class="footer">
  <div class="container">
      <p>The Mealz v0.1</p>
  </div>
</footer>
