<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Meal Option Flavors:</h1>
      <table class="table">
        <thead class="thead-default">
          <tr>
            <th>Meal Option Flavour Name</th>
            <th>Is Active?</th>
            <th><a href="" ng-click="onTargetMealOptionFlavorChanged(); targetMealOptionFlavor = null;">Clear Selection</a></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="mealOptionFlavor in mealOptionFlavors" ng-click="onTargetMealOptionFlavorChanged(mealOptionFlavor)" ng-class="{ active: mealOptionFlavor.selected }">
            <td>{{ mealOptionFlavor.name }}</td>
            <td>{{ mealOptionFlavor.active }}</td>
            <td><button type="button" class="close" ng-click="deleteMealOptionFlavor(mealOptionFlavor); $event.stopPropagation();">&times;</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <form class="mealOptionFlavor-form">
    <label>Add or edit some more meal options:</label>
    <p class="form-group">
      <input type="text" class="form-control" placeholder="Add a title here" ng-model="newMealOptionFlavorTitle">
    </p>
    <p class="form-group">
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="newMealOptionFlavorActive"> Is Active
        </label>
      </div>
    </p>
    <button type="submit" class="btn btn-primary" ng-click="addOrEditMealOptionFlavor()">{{ targetMealOptionFlavor ? 'Edit Meal Option' : 'Add New' }}</button>
  </form>
</div>

<footer class="footer">
  <div class="container">
      <p>The Mealz v0.1</p>
  </div>
</footer>
