<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Restaurants:</h1>
      <table class="table">
        <thead class="thead-default">
          <tr>
            <th>Restaurant Name</th>
            <th>Info</th>
            <th>Address</th>
            <th>GPS Location</th>
            <th>Is Active?</th>
            <th><a href="" ng-click="onTargetRestaurantChanged(); targetRestaurant = null">Clear Selection</a></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="restaurant in restaurants" ng-click="onTargetRestaurantChanged(restaurant)" ng-class="{ active: restaurant.selected }">
            <td>{{ restaurant.name }}</td>
            <td>{{ restaurant.info }}</td>
            <td>{{ restaurant.address }}</td>
            <td>
              {{ restaurant.latitude }}{{ restaurant.latitude && restaurant.longitude ? ', ' : '' }}{{ restaurant.longitude }}
            </td>
            <td>{{ restaurant.active }}</td>
            <td><button type="button" class="close" ng-click="deleteRestaurant(restaurant); $event.stopPropagation();">&times;</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <form class="restaurant-form">
    <p class="form-group">
      <input type="text" class="form-control" placeholder="Add a title here" ng-model="newRestaurantTitle">
    </p>
    <p class="form-group">
      <textarea class="form-control" rows="3" placeholder="Add some information here" ng-model="newRestaurantInfo"></textarea>
    </p>
    <p class="form-group">
      <input type="text" class="form-control typeahead" placeholder="Add address" ng-model="newRestaurantAddress" typeahead-address>
    </p>
    <p class="form-group">
      <input type="text" class="form-control typeahead-lat" placeholder="Latitude" ng-model="newRestaurantLatitude" style="width: 7.5em;">
    </p>
    <p class="form-group">
      <input type="text" class="form-control typeahead-lng" placeholder="Longitude" ng-model="newRestaurantLongitude" style="width: 7.5em;">
    </p>
    <p class="form-group">
      <label for="children_selector">Select children meal options:</label>
      <multiselect
        ng-model="newMealOptionChildrenIds"
        options="mealOption.name for mealOption in mealOptions"
        data-multiple="true"
        data-compare-by="_id"
        scroll-after-rows="5"
        filter-after-rows="5"
        max-width="100"
        tabindex="-1">
      </multiselect>
    </p>
    <p class="form-group">
      <label for="children_selector">Or, select children meal options groups:</label>
      <multiselect
        ng-model="newMealOptionsGroups"
        options="mealOptionsGroup.name for mealOptionsGroup in mealOptionsGroups"
        change="onMealOptionsGroupsChanged()"
        data-multiple="true"
        data-compare-by="_id"
        scroll-after-rows="5"
        filter-after-rows="5"
        max-width="100"
        tabindex="-1">
      </multiselect>
    </p>
    <p class="form-group">
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="newRestaurantActive"> Is Active
        </label>
      </div>
    </p>
    <button type="submit" class="btn btn-primary" ng-click="addOrEditRestaurant()">{{ targetRestaurant ? 'Edit Meal Option' : 'Add New' }}</button>
  </form>
</div>

<footer class="footer">
  <div class="container">
      <p>The Mealz v0.1</p>
  </div>
</footer>
