<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Restaurants:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="restaurant in restaurants">
        <li><a href="#" tooltip="{{ restaurant.info }}" ng-click="onItemClicked(restaurant)">{{ restaurant.name }} ({{ restaurant.active ? 'active' : 'inactive' }})<button type="button" class="close" ng-click="deleteRestaurant(restaurant)">&times;</button></a></li>
      </ul>
    </div>
  </div>

  <form class="restaurant-form">
    <label>Add or edit some more restaurants:</label>
    <p class="form-group">
      <label for="target_selector">Select restaurant to edit:</label>
      <select id="target_selector" ng-model="targetRestaurant" ng-options="restaurant.name for restaurant in restaurants track by restaurant._id" ng-model="selected" ng-change="onTargetRestaurantChanged()">
        <option value="">Create a new option...</option>
      </select>
    </p>
    <p class="form-group">
      <input type="text" class="form-control" placeholder="Add a title here" ng-model="newRestaurantTitle">
    </p>
    <p class="form-group">
      <textarea class="form-control" rows="3" placeholder="Add some information here" ng-model="newRestaurantInfo"></textarea>
    </p>
    <p class="form-group">
      <input type="text" class="form-control typeahead" placeholder="Add address" ng-model="newRestaurantAddress" typeahead-address>
    </p>
    <p class="form-group">
      <input type="text" class="form-control typeahead-lat" placeholder="Latitude" ng-model="newRestaurantLatitude" style="width: 7.5em;">
    </p>
    <p class="form-group">
      <input type="text" class="form-control typeahead-lng" placeholder="Longitude" ng-model="newRestaurantLongitude" style="width: 7.5em;">
    </p>
    <p class="form-group">
      <label for="children_selector">Select children meal options:</label>
      <select id="children_selector" ng-model="newMealOptionChildrenIds" ng-options="mealOption.name for mealOption in mealOptions track by mealOption._id" multiple></select>
    </p>
    <p class="form-group">
      <label for="children_selector">Or, select children meal options groups:</label>
      <select id="children_selector" ng-model="newMealOptionsGroups" ng-options="mealOptionsGroup.name for mealOptionsGroup in mealOptionsGroups track by mealOptionsGroup._id" ng-click="onMealOptionsGroupsChanged()" multiple></select>
    </p>
    <p class="form-group">
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="newRestaurantActive"> Is Active
        </label>
      </div>
    </p>
    <button type="submit" class="btn btn-primary" ng-click="addOrEditRestaurant()">{{ targetRestaurant ? 'Edit Meal Option' : 'Add New' }}</button>
  </form>
</div>

<footer class="footer">
  <div class="container">
      <p>The Mealz v0.1</p>
  </div>
</footer>
